<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="World_Boss_Next_Time.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <World_Boss_Next_Time.Properties.Settings>
            <setting name="StartString" serializeAs="String">
                <value>〆</value>
            </setting>
            <setting name="BossName1" serializeAs="String">
                <value>克價卡</value>
            </setting>
            <setting name="BossName2" serializeAs="String">
                <value>庫屯</value>
            </setting>
            <setting name="BossName3" serializeAs="String">
                <value>羅裴勒</value>
            </setting>
            <setting name="BossName4" serializeAs="String">
                <value>卡嵐達</value>
            </setting>
            <setting name="BossName5" serializeAs="String">
                <value>奧平</value>
            </setting>
            <setting name="BossName6" serializeAs="String">
                <value>木拉卡</value>
            </setting>
            <setting name="BossName7" serializeAs="String">
                <value>肯恩特</value>
            </setting>
            <setting name="BossName8" serializeAs="String">
                <value>貝爾</value>
            </setting>
        </World_Boss_Next_Time.Properties.Settings>
    </userSettings>
</configuration>